## allow virtual device creation
KERNEL=="uinput", SUBSYSTEM=="misc", TAG+="uaccess", OPTIONS+="static_node=uinput"
KERNEL=="uhid", SUBSYSTEM=="misc", TAG+="uaccess", OPTIONS+="static_node=uhid"

## general access
SUBSYSTEM=="input", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="hidraw", MODE="0660", TAG+="uaccess"

## devices without specific driver
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", DRIVERS=="hid-generic", MODE="0660", TAG+="uaccess"

## bluetooth devices, otherwise unspecified
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", KERNELS=="0005:0000:0000.*",  MODE="0660", TAG+="uaccess"
